openapi: 3.0.3
info:
  contact:
    email: info@gomaestro.org
    name: Maestro Blockchain Inc.
    url: https://gomaestro.org/
  description: |-
    The **Maestro Blockchain Indexer API** follows the [REST](https://restfulapi.net/) paradigm. To interact with Mapi, please  head over to [Dashboards](https://dashboard.gomaestro.org), create an API project, and copy its associated long-lived API key into your request header.

    Your Mapi project is rate-limited based on your API package tier. Please see the available [Packages](https://dashboard.gomaestro.org/pricing) for more details or to upgrade your plan.

    Example `GET` request for retrieving the chain tip:
    ```
    curl -X GET --header "api-key: <your_project_api_key>" https://mainnet.gomaestro-api.org/v0/chain-tip
    ```

    Example `POST` request for submitting a transaction:
    ```
    curl -X POST --header "Content-Type: application/cbor" --header "api-key: <your_project_api_key>" --data @tx.signed https://mainnet.gomaestro-api.org/v0/transactions
    ```
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
  title: Blockchain Indexer API
  version: V0
servers:
- description: Cardano Mainnet
  url: https://mainnet.gomaestro-api.org/v0
- description: Cardano Preprod
  url: https://preprod.gomaestro-api.org/v0
- description: Cardano Preview
  url: https://preview.gomaestro-api.org/v0
security:
- api_key_header: []
tags:
- description: Stake account related endpoints
  name: Accounts
- description: Address related endpoints
  name: Addresses
- description: Native asset related endpoints
  name: Assets
- description: Miscellaneous endpoints
  name: General
- description: Datum related endpoints
  name: Datum
- description: Epoch related endpoints
  name: Epochs
- description: Pool related endpoints
  name: Pools
- description: Script related endpoints
  name: Scripts
- description: Transaction related endpoints
  name: Transactions
paths:
  /chain-tip:
    get:
      deprecated: false
      description: Returns details about the latest block of the network
      operationId: chain_tip
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    block_hash: 2de4cd25f0a18228ce6451950793c54f6c556a53a5625c7fe80721f77c8b5fa8
                    slot: 84899112
                    height: 8402752
              schema:
                $ref: '#/components/schemas/ChainTip'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Chain tip details
      tags:
      - General
  /era-history:
    get:
      deprecated: false
      description: Returns the blockchain era history
      operationId: era_history
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EraSummary'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Era history
      tags:
      - General
  /protocol-params:
    get:
      deprecated: false
      description: Returns the current protocol parameters
      operationId: protocol_params
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolParameters'
          description: ""
        "500":
          description: Internal server error
      summary: Network protocol parameters
      tags:
      - General
  /system-start:
    get:
      deprecated: false
      description: Returns the network start time since genesis
      operationId: system_start
      responses:
        "200":
          content:
            application/json:
              example:
                time: 2022-06-01 00:00:00
              schema:
                $ref: '#/components/schemas/SystemStart'
          description: ""
        "500":
          description: Internal server error
      summary: System start time
      tags:
      - General
  /accounts/{stake_address}:
    get:
      deprecated: false
      description: Returns a summary of information regarding a stake account
      operationId: account_info
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    stake_address: stake1uyxxchknmp6gs8aaaxa0awvymsnu6jewkls4qxdar7u8mvgycgfw0
                    registered: true
                    delegated_pool: pool1ljywsch33t7gaf02aeeqkqpuku0ngpwl9fm04t7u5sl5xyunmgp
                    rewards_available: 368799
                    utxo_balance: 2065559
                    total_balance: 2434358
                    total_rewarded: 609265727
                    total_withdrawn: 608896928
              schema:
                $ref: '#/components/schemas/AccountInfo'
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account information
      tags:
      - Accounts
  /accounts/{stake_address}/addresses:
    get:
      deprecated: false
      description: Returns a list of addresses seen on-chain which use the specified
        stake key
      operationId: account_addresses
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - addr1qy0urzxq6kxncg5xqsw98d8t8ztxnf8zer5vdspgtll2m9wyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqzulq2a
                  - addr1qx4grxy4e3cxnkhg4lulqyslycyx2x0ff6xxsq7jgfwdhwwyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqghe2lc
              schema:
                items:
                  example: addr1qx4grxy4e3cxnkhg4lulqyslycyx2x0ff6xxsq7jgfwdhwwyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqghe2lc
                  type: string
                type: array
            application/xml:
              schema:
                properties: {}
                type: object
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account addresses
      tags:
      - Accounts
  /accounts/{stake_address}/assets:
    get:
      deprecated: false
      description: Returns a list of native assets which are owned by addresses with
        the specified stake key
      operationId: account_assets
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - quantity: 837
                    unit: 318847394ec6842e1069f93c4b3641418a128ab57a97fcca520c7ff2#57455448
                  - quantity: 1
                    unit: 21d7d1f698f5fbcb751f9f85991fd115f884744de2317b921f46f821#42616e616e613832
              schema:
                items:
                  $ref: '#/components/schemas/Asset'
                type: array
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account assets
      tags:
      - Accounts
  /accounts/{stake_address}/history:
    get:
      deprecated: false
      description: Returns per-epoch history of the specified stake key
      operationId: account_history
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      - allowEmptyValue: true
        deprecated: false
        description: Fetch result for a specific epoch
        explode: true
        in: query
        name: epoch_no
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - epoch_no: 330
                    pool_id: pool1ljywsch33t7gaf02aeeqkqpuku0ngpwl9fm04t7u5sl5xyunmgp
                    active_stake: 2351516
                  - epoch_no: 331
                    pool_id: pool1ljywsch33t7gaf02aeeqkqpuku0ngpwl9fm04t7u5sl5xyunmgp
                    active_stake: 2352432
              schema:
                items:
                  $ref: '#/components/schemas/AccountHistory'
                type: array
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account history
      tags:
      - Accounts
  /accounts/{stake_address}/rewards:
    get:
      deprecated: false
      description: "Returns a list of staking-related rewards for the specified stake\
        \ key (pool `member` or `leader` rewards, deposit `refund`)"
      operationId: account_rewards
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - type: member
                    earned_epoch: 330
                    spendable_epoch: 332
                    amount: 976
                    pool_id: pool1ljywsch33t7gaf02aeeqkqpuku0ngpwl9fm04t7u5sl5xyunmgp
                  - type: member
                    earned_epoch: 331
                    spendable_epoch: 333
                    amount: 1637
                    pool_id: pool1ljywsch33t7gaf02aeeqkqpuku0ngpwl9fm04t7u5sl5xyunmgp
              schema:
                items:
                  $ref: '#/components/schemas/AccountReward'
                type: array
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account rewards
      tags:
      - Accounts
  /accounts/{stake_address}/updates:
    get:
      deprecated: false
      description: "Returns a list of updates relating to the specified stake key\
        \ (`registration`, `deregistration`, `delegation`, `withdrawal`)"
      operationId: account_updates
      parameters:
      - description: Bech32 encoded stake address
        explode: false
        in: path
        name: stake_address
        required: true
        schema:
          example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - action: delegation
                    tx_hash: 1265c152b4b2d38d7608834310bf80884e45d6351a3d0f0fee77864f2b172cba
                    epoch_no: 317
                    abs_slot: 51883604
                  - action: registration
                    tx_hash: 0c40c8218122d53b5a9e78fe2ac7e8b39de1f649c4d1438c00cc9b42050cd751
                    epoch_no: 314
                    abs_slot: 50517013
              schema:
                items:
                  $ref: '#/components/schemas/AccountUpdate'
                type: array
          description: ""
        "404":
          description: "No results found. If the stake address is not registered or\
            \ has no delegation history, there will be no on-chain data to return."
        "500":
          description: Internal server error
      summary: Stake account updates
      tags:
      - Accounts
  /addresses/utxos:
    post:
      deprecated: false
      description: Return all UTxOs controlled by each address in a list of addresses
      operationId: utxos_by_addresses
      parameters:
      - allowEmptyValue: true
        description: Try find and include the corresponding datums for datum hashes
        explode: true
        in: query
        name: resolve_datums
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - allowEmptyValue: true
        description: Include the CBOR encodings of the transaction outputs in the
          response
        explode: true
        in: query
        name: with_cbor
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                - addr1wxgg25t3tk30jqzl2elqz94lzgmr8a9c9m5z902ds5sjh0g7uaj8z
                - addr1vxmn8puzz09g7scp7gy0kwsg06eh4kep9padw9xmgnx88hqncydl5
            schema:
              items:
                type: string
              type: array
        description: List of addresses
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - tx_hash: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
                    index: 0
                    assets:
                    - unit: lovelace
                      quantity: 7280082022
                    - unit: 34250edd1e9836f5378702fbf9416b709bc140e04f668cc355208518#4154414441636f696e
                      quantity: 10824
                    address: addr_test1vpfwv0ezc5g8a4mkku8hhy3y3vp92t7s3ul8g778g5yegsgalc6gc
                    datum:
                      type: inline
                      hash: 432cb73420839fb517533c365d7ec125c457ea4ba5c0349be81be6796d52ef3b
                      bytes: 1a00278530
                      json:
                        int: 2590000
                    reference_script:
                      type: plutusv2
                      hash: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
                      bytes: "480100002221200101"
                      json: null
              schema:
                items:
                  $ref: '#/components/schemas/Utxo'
                type: array
          description: Return UTxOs
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: UTxOs at multiple addresses
      tags:
      - Addresses
  /addresses/{address}/decode:
    get:
      deprecated: false
      description: Returns the attributes of a decoded receiving address
      operationId: decode_address
      parameters:
      - deprecated: false
        description: ""
        explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    bech32: addr1zxgx3far7qygq0k6epa0zcvcvrevmn0ypsnfsue94nsn3tvpw288a4x0xf8pxgcntelxmyclq83s0ykeehchz2wtspks905plm
                    hex: 119068a7a3f008803edac87af1619860f2cdcde40c26987325ace138ad81728e7ed4cf324e1323135e7e6d931f01e30792d9cdf17129cb806d
                    network: mainnet
                    payment_cred:
                      kind: script
                      bech32: addr_shared_vkh1jp520glspzqrakkg0tckrxrq7txumeqvy6v8xfdvuyu26qqv5qn
                      hex: 9068a7a3f008803edac87af1619860f2cdcde40c26987325ace138ad
                    staking_cred:
                      kind: key
                      bech32: stake_vkh1s9egulk5eueyuyerzd08umvnruq7xpujm8xlzuffewqx6s0mg9v
                      reward_address: stake1uxqh9rn76n8nynsnyvf4ulndjv0srcc8jtvumut3989cqmgjt49h6
                      hex: 81728e7ed4cf324e1323135e7e6d931f01e30792d9cdf17129cb806d
                      pointer: null
              schema:
                $ref: '#/components/schemas/AddressInfo'
          description: ""
        "400":
          description: Malformed query parameters
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Decoded receiving address information
      tags:
      - Addresses
  /addresses/{address}/transactions/count:
    get:
      deprecated: false
      description: Returns the total number of transactions in which an address spent
        or received assets
      operationId: tx_count_by_address
      parameters:
      - description: Bech32 encoded address
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: addr1qyl9ez2532trgydh5cny3ww72ygw8vugkvu98ln5x2zfgsxyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqdg24wq
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    count: 151424
              schema:
                $ref: '#/components/schemas/AddressTxCount'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Transaction count of an address
      tags:
      - Addresses
  /addresses/{address}/utxo_refs:
    get:
      deprecated: false
      description: Return all UTxO references controlled by an address
      operationId: utxo_refs_at_address
      parameters:
      - description: Bech32 encoded address
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: addr1qyl9ez2532trgydh5cny3ww72ygw8vugkvu98ln5x2zfgsxyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqdg24wq
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - index: 0
                    tx_hash: dddd9d38fa67d0ed15dd1ffc3893d303c126a809dc74e53d53d0f2f13867c52f
                  - index: 2
                    tx_hash: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
              schema:
                items:
                  $ref: '#/components/schemas/UtxoRef'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: UTxO references at an address
      tags:
      - Addresses
  /addresses/{address}/utxos:
    get:
      deprecated: false
      description: Return UTxOs controlled by an address
      operationId: address_utxos
      parameters:
      - description: Bech32 encoded address
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: addr1qyl9ez2532trgydh5cny3ww72ygw8vugkvu98ln5x2zfgsxyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqdg24wq
          type: string
        style: simple
      - allowEmptyValue: true
        description: Try find and include the corresponding datums for datum hashes
        explode: true
        in: query
        name: resolve_datums
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - allowEmptyValue: true
        description: Include the CBOR encodings of the transaction outputs in the
          response
        explode: true
        in: query
        name: with_cbor
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - tx_hash: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
                    index: 0
                    assets:
                    - unit: lovelace
                      quantity: 7280082022
                    - unit: 34250edd1e9836f5378702fbf9416b709bc140e04f668cc355208518#4154414441636f696e
                      quantity: 10824
                    address: addr_test1vpfwv0ezc5g8a4mkku8hhy3y3vp92t7s3ul8g778g5yegsgalc6gc
                    datum:
                      type: inline
                      hash: 432cb73420839fb517533c365d7ec125c457ea4ba5c0349be81be6796d52ef3b
                      bytes: 1a00278530
                      json:
                        int: 2590000
                    reference_script:
                      type: plutusv2
                      hash: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
                      bytes: "480100002221200101"
                      json: null
              schema:
                items:
                  $ref: '#/components/schemas/Utxo'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: UTxOs at an address
      tags:
      - Addresses
  /assets/{asset}:
    get:
      deprecated: false
      description: Return a summary of information about an asset
      operationId: asset_info
      parameters:
      - description: Native asset (concatenation of hex encoded policy ID and hex
          encoded asset name)
        explode: false
        in: path
        name: asset
        required: true
        schema:
          example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c64d494e
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                CIP-68 example:
                  value:
                    asset_name: 0014df104152494741544f6b656e
                    asset_name_ascii: \000\337ARIGATOken
                    fingerprint: asset1jwvdcx0r4c45n2lah2yydx9z2y0k2e3rdtlzyw
                    first_mint_tx: cbb242170d540d59f3904d26aa4d849e321b554c2e14084bcc1786ea7be81564
                    first_mint_time: 1668470400
                    mint_tx_count: 1
                    burn_tx_count: 1
                    total_supply: 0
                    asset_standards:
                      cip25_metadata: null
                      cip68_metadata:
                        purpose: user_ft
                        version: 1
                        metadata:
                          decimals: "0"
                          description: A token for Cardano_Waifus project
                          logo: ipfs://QmcxbFm56ymFSHoq2UDm2d7NkGRj7ueMMoZBnUorWWoWTF
                          name: ARIGATOken
                          ticker: ARIGATO
                          url: https://cardanowaifus.digital
                        extra: null
                    latest_mint_tx_metadata: null
                    token_registry_metadata: null
                CIP-25 example:
                  value:
                    asset_name: 50a400c2fad65ca37ddd99ab47346845d5292dcd10d7c483d4dd85f0b828aea3
                    asset_name_ascii: "P\\244\\000\\302\\372\\326\\\\\\243}\\335\\\
                      231\\253G4hE\\325)-\\315\x10\\327\\304\\203\\324\\335\\205\\\
                      360\\270(\\256\\243"
                    fingerprint: asset17ha95t2g0zvtq65g5tmpvnks646pmcl4h75tzn
                    first_mint_tx: 58c6fc796580e7db3491aa8fce74b77c49f45039c92c1f2219f005424ff5df2f
                    first_mint_time: 1673395200
                    mint_tx_count: 1
                    burn_tx_count: 1
                    total_supply: 0
                    asset_standards:
                      cip25_metadata:
                        BondId: 50a400c2fad65ca37ddd99ab47346845d5292dcd10d7c483d4dd85f0b828aea3
                        Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                        image:
                        - "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3J"
                        - nLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJ
                        - lY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3R
                        - yb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICA
                        - gIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTA
                        - gLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzA
                        - iIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDM
                        - wIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjA
                        - gNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8
                        - +CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZ
                        - vbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHR
                        - zcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGU
                        - iIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA
                        - 8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGR
                        - sZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC9
                        - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJ
                        - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC9
                        - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJ
                        - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0
                        - iMjAiPjUwYTQwMGMyZmFkNjVjYTM3ZGRkOTlhYjQ3MzQ2ODQ1ZDUyOTJkY2QxMGQ
                        - 3YzQ4M2Q0ZGQ4NWYwYjgyOGFlYTM8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3Z
                        - nPgoKCiAg
                        mediaType: image/svg+xml
                        name: Fluid tokens bond
                        twitter: https://twitter.com/fluidtokens
                    latest_mint_tx_metadata:
                      "7":
                        AMOUNT: "500000000"
                        CURRENCYASSET: ""
                        CURRENCYID: ""
                        HOURS: "504"
                        ICURRENCYASSET: ""
                        ICURRENCYID: ""
                        INTEREST: "50000000"
                        LENDER: e972f26e900c8756840b5ab4c2006f8e1ea7417931cadbd488542deb
                      "721":
                        "0x4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091":
                          "0x50a400c2fad65ca37ddd99ab47346845d5292dcd10d7c483d4dd85f0b828aea3":
                            BondId: 50a400c2fad65ca37ddd99ab47346845d5292dcd10d7c483d4dd85f0b828aea3
                            Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                            image:
                            - "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3J"
                            - nLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJ
                            - lY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3R
                            - yb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICA
                            - gIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTA
                            - gLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzA
                            - iIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDM
                            - wIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjA
                            - gNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8
                            - +CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZ
                            - vbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHR
                            - zcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGU
                            - iIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA
                            - 8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGR
                            - sZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0
                            - iMjAiPjUwYTQwMGMyZmFkNjVjYTM3ZGRkOTlhYjQ3MzQ2ODQ1ZDUyOTJkY2QxMGQ
                            - 3YzQ4M2Q0ZGQ4NWYwYjgyOGFlYTM8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3Z
                            - nPgoKCiAg
                            mediaType: image/svg+xml
                            name: Fluid tokens bond
                            twitter: https://twitter.com/fluidtokens
                        version: 2
                    token_registry_metadata: null
              schema:
                $ref: '#/components/schemas/AssetInfo'
          description: ""
        "400":
          description: Malformed query parameters
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Native asset information
      tags:
      - Assets
  /assets/{asset}/addresses:
    get:
      deprecated: false
      description: Returns a list of addresses which hold some amount of the specified
        asset
      operationId: asset_addresses
      parameters:
      - description: Native asset (concatenation of hex encoded policy ID and hex
          encoded asset name)
        explode: false
        in: path
        name: asset
        required: true
        schema:
          example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c64d494e
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - addr_1vpvz8req5wn4serhfsg9ha9wg7rf7jsr5hels2llkacq5gcq4utja
                  - addr_1wzdtu0djc76qyqak9cj239udezj2544nyk3ksmfqvaksv7c9xanpg
              schema:
                items:
                  type: string
                type: array
          description: ""
        "400":
          description: Malformed query parameters
        "500":
          description: Internal server error
      summary: Native asset addresses
      tags:
      - Assets
  /assets/{asset}/txs:
    get:
      deprecated: false
      description: "Returns a list of transactions which moved, minted or burned the\
        \ specified asset"
      operationId: asset_txs
      parameters:
      - description: Native asset (concatenation of hex encoded policy ID and hex
          encoded asset name)
        explode: false
        in: path
        name: asset
        required: true
        schema:
          example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c64d494e
          type: string
        style: simple
      - allowEmptyValue: true
        deprecated: false
        description: Return only transactions on or after a specific block height
        explode: true
        in: query
        name: from_height
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        deprecated: false
        description: The order in which the results are sorted (by block height)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - block_height: 629786
                    epoch_no: 51
                    tx_hash: 968fd498b4ae9853a0112c834b1814d0ff916abe68ef920c9b61c93cbb865b55
              schema:
                items:
                  $ref: '#/components/schemas/AssetTx'
                type: array
          description: ""
        "400":
          description: Malformed query parameters
        "500":
          description: Internal server error
      summary: Native asset transaction
      tags:
      - Assets
  /assets/{asset}/updates:
    get:
      deprecated: false
      description: Returns a list of transactions which minted or burned the specified
        asset
      operationId: asset_updates
      parameters:
      - description: Native asset (concatenation of hex encoded policy ID and hex
          encoded asset name)
        explode: false
        in: path
        name: asset
        required: true
        schema:
          example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c64d494e
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        deprecated: false
        description: The order in which the results are sorted (by block height)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - tx_hash: 9ae767cf8b7de74dd604c3b4c890891a5462be287f4f1a1ce64384e6fdac896d
                    mint_amount: 9223372036854776000
                    block_timestamp: 1648827044
                    metadata: []
              schema:
                items:
                  $ref: '#/components/schemas/MintingTx'
                type: array
          description: ""
        "400":
          description: Malformed query parameters
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Native asset updates
      tags:
      - Assets
  /assets/policy/{policy}:
    get:
      deprecated: false
      description: Returns information about the minting policy of assets
      operationId: policy_info
      parameters:
      - deprecated: false
        description: Hex encoded policy ID
        explode: false
        in: path
        name: policy
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: The max number of results per page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          type: integer
        style: form
      - deprecated: false
        description: The page number for the results
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                CIP-68 example:
                  value:
                  - asset_name: 0014df104152494741544f6b656e
                    asset_name_ascii: \000\337ARIGATOken
                    fingerprint: asset1jwvdcx0r4c45n2lah2yydx9z2y0k2e3rdtlzyw
                    first_mint_tx: cbb242170d540d59f3904d26aa4d849e321b554c2e14084bcc1786ea7be81564
                    first_mint_time: 1668470400
                    mint_tx_count: 1
                    burn_tx_count: 1
                    total_supply: 0
                    asset_standards:
                      cip25_metadata: null
                      cip68_metadata:
                        purpose: user_ft
                        version: 1
                        metadata:
                          decimals: "0"
                          description: A token for Cardano_Waifus project
                          logo: ipfs://QmcxbFm56ymFSHoq2UDm2d7NkGRj7ueMMoZBnUorWWoWTF
                          name: ARIGATOken
                          ticker: ARIGATO
                          url: https://cardanowaifus.digital
                        extra: null
                    latest_mint_tx_metadata: null
                    token_registry_metadata: null
                CIP-25 example:
                  value:
                  - asset_name: c39b11e90cb2a5367d85b80e81bd9403f36b22ea0a6eed7f6fdc0872af1517c1
                    asset_name_ascii: "\\303\\233\x11\\351\f\\262\\2456}\\205\\270\x0e\
                      \\201\\275\\224\x03\\363k\"\\352\nn\\355\x7fo\\334\br\\257\x15\
                      \x17\\301"
                    fingerprint: asset1rgt2g7cfm2yvtwwaxfhtxcnxjh4jajt06nma0y
                    first_mint_tx: 07c1971ab8f5a575ff67f79c5a50632f2f964373b0c249f01cf86b51ca4e559c
                    first_mint_time: 1673222400
                    mint_tx_count: 1
                    burn_tx_count: 1
                    total_supply: 0
                    asset_standards:
                      cip25_metadata:
                        BondId: c39b11e90cb2a5367d85b80e81bd9403f36b22ea0a6eed7f6fdc0872af1517c1
                        Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                        image: "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJlY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3Ryb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICAgIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTAgLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzAiIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDMwIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjAgNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8+CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZvbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGRsZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC90c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC90c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0iMjAiPmMzOWIxMWU5MGNiMmE1MzY3ZDg1YjgwZTgxYmQ5NDAzZjM2YjIyZWEwYTZlZWQ3ZjZmZGMwODcyYWYxNTE3YzE8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3ZnPgoKCiAg"
                        mediaType: image/svg+xml
                        name: Fluid tokens bond
                        twitter: https://twitter.com/fluidtokens
                    latest_mint_tx_metadata:
                      "7":
                        AMOUNT: "30000000"
                        CURRENCYASSET: "69555344"
                        CURRENCYID: f66d78b4a3cb3d37afa0ec36461e51ecbde00f26c8f0a68f94b69880
                        HOURS: "1"
                        ICURRENCYASSET: "69555344"
                        ICURRENCYID: f66d78b4a3cb3d37afa0ec36461e51ecbde00f26c8f0a68f94b69880
                        INTEREST: "20000000"
                        LENDER: 1c471b31ea0b04c652bd8f76b239aea5f57139bdc5a2b28ab1e69175
                      "721":
                        "0x4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091":
                          "0xc39b11e90cb2a5367d85b80e81bd9403f36b22ea0a6eed7f6fdc0872af1517c1":
                            BondId: c39b11e90cb2a5367d85b80e81bd9403f36b22ea0a6eed7f6fdc0872af1517c1
                            Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                            image:
                            - "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3J"
                            - nLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJ
                            - lY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3R
                            - yb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICA
                            - gIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTA
                            - gLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzA
                            - iIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDM
                            - wIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjA
                            - gNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8
                            - +CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZ
                            - vbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHR
                            - zcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGU
                            - iIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA
                            - 8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGR
                            - sZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0
                            - iMjAiPmMzOWIxMWU5MGNiMmE1MzY3ZDg1YjgwZTgxYmQ5NDAzZjM2YjIyZWEwYTZ
                            - lZWQ3ZjZmZGMwODcyYWYxNTE3YzE8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3Z
                            - nPgoKCiAg
                            mediaType: image/svg+xml
                            name: Fluid tokens bond
                            twitter: https://twitter.com/fluidtokens
                        version: 2
                    token_registry_metadata: null
                  - asset_name: 2744c703cb3118a1777b62c19d47d0a824ebbdeeecbc92dda548dda186746303
                    asset_name_ascii: "'D\\307\x03\\3131\x18\\241w{b\\301\\235G\\\
                      320\\250$\\353\\275\\356\\354\\274\\222\\335\\245H\\335\\241\\\
                      206tc\x03"
                    fingerprint: asset1ecatkdrtldcvmnff87c2q6h35mnj6yzs600cnl
                    first_mint_tx: 25d208c3e4f77cd42fdad0fcc960a4b9914f392418aed4d3161c3fd4a0e1802a
                    first_mint_time: 1673308800
                    mint_tx_count: 1
                    burn_tx_count: 1
                    total_supply: 0
                    asset_standards:
                      cip25_metadata:
                        BondId: 2744c703cb3118a1777b62c19d47d0a824ebbdeeecbc92dda548dda186746303
                        Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                        image: "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJlY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3Ryb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICAgIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTAgLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzAiIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDMwIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjAgNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8+CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZvbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGRsZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC90c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC90c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0iMjAiPjI3NDRjNzAzY2IzMTE4YTE3NzdiNjJjMTlkNDdkMGE4MjRlYmJkZWVlY2JjOTJkZGE1NDhkZGExODY3NDYzMDM8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3ZnPgoKCiAg"
                        mediaType: image/svg+xml
                        name: Fluid tokens bond
                        twitter: https://twitter.com/fluidtokens
                    latest_mint_tx_metadata:
                      "7":
                        AMOUNT: "20000000"
                        CURRENCYASSET: "69555344"
                        CURRENCYID: f66d78b4a3cb3d37afa0ec36461e51ecbde00f26c8f0a68f94b69880
                        HOURS: "1"
                        ICURRENCYASSET: ""
                        ICURRENCYID: ""
                        INTEREST: "20000000"
                        LENDER: 87beb2237d63ff03bc842950a88959d69abbe29e8adea8176b32fd69
                      "721":
                        "0x4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091":
                          "0x2744c703cb3118a1777b62c19d47d0a824ebbdeeecbc92dda548dda186746303":
                            BondId: 2744c703cb3118a1777b62c19d47d0a824ebbdeeecbc92dda548dda186746303
                            Policy: 4aef6e0795e1f8241eb19ade6221a85d610523714e4d59d4e9095091
                            image:
                            - "image/svg+xml;base64,CgogIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3J"
                            - nLzIwMDAvc3ZnIiB2aWV3Qm94PSItMzAwIC0xMDAgNzAwIDEwMDAiPgogICAgPHJ
                            - lY3QgeD0iLTI5MCIgeT0iLTkwIiB3aWR0aD0iNjkwIiBoZWlnaHQ9Ijk5MCIgc3R
                            - yb2tlPSJibHVlIiBzdHJva2Utd2lkdGg9IjJweCIgZmlsbD0id2hpdGUiLz4KICA
                            - gIDxwYXRoIGQ9Ik0gMCAwIEMgMCAwIDAgMCAwIDAgQyAwIC01MCA1MCAtNDAgOTA
                            - gLTQwIEMgMTIwIC00MCAxMjAgMCA5MCAwIEwgMzAgMCBDIDEwIDAgMCAwIDAgMzA
                            - iIGZpbGw9IiM1MGQxYjMiLz4KICAgIDxwYXRoIGQ9Ik0gMjAgMTAwIEMgLTEwIDM
                            - wIC0xMCAwIDEwMCAxMCBDIDYwIDEwIDUwIDIwIDUwIDMwIEMgNTAgNDAgNTAgNjA
                            - gNjAgOTAgQyA3MCAxMjAgMzAgMTMwIDIwIDEwMCBaIiBmaWxsPSIjMWI5ZWU2Ii8
                            - +CiAgICA8dGV4dCB4PSIwIiB5PSI1MCIgZm9udC1zaXplPSI2MCIgZHk9IjAiIGZ
                            - vbnQtZmFtaWx5PSJTYW5zIFNlcmlmIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgPHR
                            - zcGFuIHg9IjUlIiBkeT0iMS44ZW0iIGRvbWluYW50LWJhc2VsaW5lPSJtaWRkbGU
                            - iIHRleHQtYW5jaG9yPSJtaWRkbGUiPkZMVUlEIEJPTkQ8L3RzcGFuPgogICAgICA
                            - 8dHNwYW4geD0iNSUiIGR5PSIxLjJlbSIgZG9taW5hbnQtYmFzZWxpbmU9Im1pZGR
                            - sZSIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1zaXplPSI0OCI+TGVuZGVyPC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMS4yZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiPkJvbmQgaWQ6PC9
                            - 0c3Bhbj4KICAgICAgPHRzcGFuIHg9IjUlIiBkeT0iMi40ZW0iIGRvbWluYW50LWJ
                            - hc2VsaW5lPSJtaWRkbGUiIHRleHQtYW5jaG9yPSJtaWRkbGUiIGZvbnQtc2l6ZT0
                            - iMjAiPjI3NDRjNzAzY2IzMTE4YTE3NzdiNjJjMTlkNDdkMGE4MjRlYmJkZWVlY2J
                            - jOTJkZGE1NDhkZGExODY3NDYzMDM8L3RzcGFuPgogICAgPC90ZXh0PgogIDwvc3Z
                            - nPgoKCiAg
                            mediaType: image/svg+xml
                            name: Fluid tokens bond
                            twitter: https://twitter.com/fluidtokens
                        version: 2
                    token_registry_metadata: null
              schema:
                items:
                  $ref: '#/components/schemas/AssetInfo'
                type: array
          description: ""
        "400":
          description: Malformed query parameters
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Minting policy information
      tags:
      - Assets
  /assets/policy/{policy}/addresses:
    get:
      deprecated: false
      description: Returns a list of addresses which hold some of an asset of the
        given policy ID
      operationId: policy_addresses
      parameters:
      - deprecated: false
        description: Hex encoded Policy ID
        explode: false
        in: path
        name: policy
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: The max number of results per page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          type: integer
        style: form
      - deprecated: false
        description: The page number for the results
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - addr_1vpvz8req5wn4serhfsg9ha9wg7rf7jsr5hels2llkacq5gcq4utja
                  - addr_1wzdtu0djc76qyqak9cj239udezj2544nyk3ksmfqvaksv7c9xanpg
              schema:
                items:
                  type: string
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Minting policy addresses
      tags:
      - Assets
  /assets/policy/{policy}/txs:
    get:
      deprecated: false
      description: Returns transactions in which an address receives an asset of a
        policy
      operationId: policy_txs
      parameters:
      - deprecated: false
        description: Hex encoded policy ID
        explode: false
        in: path
        name: policy
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: Return only transactions after supplied block height
        explode: true
        in: query
        name: from_height
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - deprecated: false
        description: The max number of results per page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          type: integer
        style: form
      - deprecated: false
        description: The page number for the results
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - deprecated: false
        description: The order in which the results are sorted (by block height)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetTx'
                type: array
          description: ""
        "400":
          description: Malformed query parameters
        "500":
          description: Internal server error
      summary: Minting policy transactions
      tags:
      - Assets
  /assets/policy/{policy}/utxos:
    get:
      deprecated: false
      description: "Returns UTxOs which contain assets of a policy ID, along with\
        \ the asset names and amounts"
      operationId: policy_utxos
      parameters:
      - deprecated: false
        description: Hex encoded policy ID
        explode: false
        in: path
        name: policy
        required: true
        schema:
          type: string
        style: simple
      - deprecated: false
        description: The max number of results per page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          type: integer
        style: form
      - deprecated: false
        description: The page number for the results
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PolicyUtxo'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Minting policy UTxOs
      tags:
      - Assets
  /datum/{datum_hash}:
    get:
      deprecated: false
      description: "Returns the datum corresponding to the specified datum hash, if\
        \ the datum has been seen on-chain"
      operationId: lookup_datum
      parameters:
      - description: Hex encoded datum hash
        explode: false
        in: path
        name: datum_hash
        required: true
        schema:
          example: 432cb73420839fb517533c365d7ec125c457ea4ba5c0349be81be6796d52ef3b
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    bytes: 1a00278530
                    json:
                      int: 2590000
              schema:
                $ref: '#/components/schemas/Datum'
          description: ""
        "400":
          description: Malformed query parameters
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Datum of a datum hash
      tags:
      - Datum
  /epochs/current:
    get:
      deprecated: false
      description: Returns information about the current epoch
      operationId: current_epoch
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    epoch_no: 51
                    fees: "2491613381"
                    tx_count: 7297
                    blk_count: 13717
                    start_time: 1676073604
              schema:
                $ref: '#/components/schemas/CurrentEpochInfo'
          description: ""
        "500":
          description: Internal server error
      summary: Current epoch of the network
      tags:
      - Epochs
  /epochs/{epoch_no}/info:
    get:
      deprecated: false
      description: Returns information about the requested epoch
      operationId: epoch_info
      parameters:
      - description: Epoch height (number)
        explode: false
        in: path
        name: epoch_no
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    epoch_no: 36
                    fees: "8308727733"
                    tx_count: 18799
                    blk_count: 21052
                    start_time: 1669593614
                    end_time: 1670025570
              schema:
                $ref: '#/components/schemas/EpochInfo'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Epoch details
      tags:
      - Epochs
  /pools:
    get:
      deprecated: false
      description: Returns a list of currently registered stake pools
      operationId: list_pools
      parameters:
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - pool_id_bech32: pool12584mjtgz3fhgpx823qht56gycnfnezg6aqqthazv4qdxkd5c46
                    ticker: DOLCA
                  - pool_id_bech32: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
                    ticker: CHOCO
              schema:
                items:
                  $ref: '#/components/schemas/PoolListInfo'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Registered stake pools
      tags:
      - Pools
  /pools/{pool_id}/blocks:
    get:
      deprecated: false
      description: Return information about blocks minted by a given pool for all
        epochs (or just epoch `epoch_no` if provided)
      operationId: pool_blocks
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      - allowEmptyValue: true
        deprecated: false
        description: Epoch number to fetch results for
        explode: true
        in: query
        name: epoch_no
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        deprecated: false
        description: The order in which the results are sorted (by absolute slot)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - epoch_no: 331
                    epoch_slot: 247198
                    abs_slot: 57875998
                    block_height: 7099157
                    block_hash: 25c48307d94b1d6b98c50482a0a36c6d104c66a5186ce73eac7e9fe4e34a1e4b
                    block_time: 1649442289
                  - epoch_no: 331
                    epoch_slot: 271486
                    abs_slot: 57900286
                    block_height: 7100338
                    block_hash: b00aaff6fd95e9718748ef16a6f1787af95970bf8da072c1031f569783001997
                    block_time: 1649466577
              schema:
                items:
                  $ref: '#/components/schemas/PoolBlock'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Stake pool blocks
      tags:
      - Pools
  /pools/{pool_id}/delegators:
    get:
      deprecated: false
      description: Returns a list of delegators of the specified pool
      operationId: pool_delegators
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - stake_address: stake1uyxylkzz6qcmu823tpfvq2kv4v0eejrh6w3qcfl2t3ax4acmdtchp
                    amount: 104694974790
                    active_epoch_no: 288
                    latest_delegation_tx_hash: 7feeb8988ac7ae488dacf189dd6cb2f52173692dfb45603942fbe8b7a6ccd40b
                  - stake_address: stake1uyztgnymq9pktsjw7ae9csea4xueymap54gg252wyvsgv8cxscnaz
                    amount: 4128157247
                    active_epoch_no: 293
                    latest_delegation_tx_hash: e8d1e0a2c9e1d9a33b79db3d4e997a2e797ade35d81ed993936bba409e7c9a1f
              schema:
                items:
                  $ref: '#/components/schemas/DelegatorInfo'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Stake pool delegators
      tags:
      - Pools
  /pools/{pool_id}/history:
    get:
      deprecated: false
      description: Returns per-epoch information about the specified pool (or just
        epoch `epoch_no`)
      operationId: pool_history
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      - allowEmptyValue: true
        deprecated: false
        description: Epoch number to fetch results for
        explode: true
        in: query
        name: epoch_no
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - allowEmptyValue: true
        description: The max number of results per pagination page
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        description: Pagination page number to show results for
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - allowEmptyValue: true
        deprecated: false
        description: The order in which the results are sorted (by epoch number)
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - epoch_no: 384
                    active_stake: 3850078783520
                    active_stake_pct: "0.01517945984844733700"
                    saturation_pct: "5.4500"
                    block_cnt: 0
                    delegator_cnt: 23
                    margin: 0
                    fixed_cost: 340000000
                    pool_fees: 0
                    deleg_rewards: 0
                    epoch_ros: "0"
                  - epoch_no: 385
                    active_stake: 3851856595953
                    active_stake_pct: "0.01517156647812579800"
                    saturation_pct: "5.4500"
                    block_cnt: 3
                    delegator_cnt: 23
                    margin: 0
                    fixed_cost: 340000000
                    pool_fees: 340000000
                    deleg_rewards: 1447424779
                    epoch_ros: "2.78058595"
              schema:
                items:
                  $ref: '#/components/schemas/PoolHistory'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Stake pool history
      tags:
      - Pools
  /pools/{pool_id}/info:
    get:
      deprecated: false
      description: Returns current information about the specified pool
      operationId: pool_info
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    pool_id_bech32: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
                    pool_id_hex: 552d7f65e42fdc4ed602a657b85bd7623a592d21e5dcf7b045132da8
                    active_epoch_no: 290
                    vrf_key_hash: 076102096f5fc37a47ff14390f7320c76ea769183d06881d53dc4ea1be51acae
                    margin: 0
                    fixed_cost: 340000000
                    pledge: 10000000000
                    reward_addr: stake1uxtdm5q9j89mmme0l6jt9rsap8cn3vjy3eflptx34s2645ge7r9gp
                    owners:
                    - stake1uxtdm5q9j89mmme0l6jt9rsap8cn3vjy3eflptx34s2645ge7r9gp
                    relays:
                    - dns: null
                      srv: null
                      ipv4: 202.182.106.104
                      ipv6: null
                      port: 6000
                    meta_url: https://git.io/J0eoF
                    meta_hash: 63c1b74c5489659d8ec374fa9f22f3e185c5ac458ecc69fdc324ba3bbe2c5093
                    meta_json:
                      name: CHOCO Stake Pool
                      ticker: CHOCO
                      homepage: https://twitter.com/choco_stake
                      description: cardanoという次世代の分散システムに貢献します。CHOCO Stake Poolをよろしくお願いします。
                    pool_status: registered
                    retiring_epoch: null
                    op_cert: cdac991e5a547c86fe869b37eb58c77cc3804d2e592200c835da0b3dbfe8e763
                    op_cert_counter: 7
                    active_stake: 3847126072870
                    sigma: "0.00015093541821247124"
                    block_count: 307
                    live_pledge: 38784976226
                    live_stake: 3848841013319
                    live_delegators: 24
                    live_saturation: "5.4200"
              schema:
                $ref: '#/components/schemas/PoolInfo'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Stake pool details
      tags:
      - Pools
  /pools/{pool_id}/metadata:
    get:
      deprecated: false
      description: Returns the metadata declared by a specific pool
      operationId: pool_metadata
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    pool_id_bech32: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
                    meta_url: https://git.io/J0eoF
                    meta_hash: 63c1b74c5489659d8ec374fa9f22f3e185c5ac458ecc69fdc324ba3bbe2c5093
                    meta_json:
                      name: CHOCO Stake Pool
                      ticker: CHOCO
                      homepage: https://twitter.com/choco_stake
                      description: cardanoという次世代の分散システムに貢献します。CHOCO Stake Poolをよろしくお願いします。
              schema:
                $ref: '#/components/schemas/PoolMetadata'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Stake pool metadata
      tags:
      - Pools
  /pools/{pool_id}/relays:
    get:
      deprecated: false
      description: Returns a list of relays declared by the specified pool
      operationId: pool_relays
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - pool_id_bech32: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
                    relays:
                    - dns: null
                      srv: null
                      ipv4: 202.182.106.104
                      ipv6: null
                      port: 6000
              schema:
                items:
                  $ref: '#/components/schemas/PoolRelay'
                type: array
          description: ""
        "500":
          description: Internal server error
      summary: Stake pool relays
      tags:
      - Pools
  /pools/{pool_id}/updates:
    get:
      deprecated: false
      description: Returns a list of updates relating to the specified pool
      operationId: pool_updates
      parameters:
      - description: Bech32 encoded pool ID
        explode: false
        in: path
        name: pool_id
        required: true
        schema:
          example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - tx_hash: 58011f2d795af54ab076320d5092a7989efd451eb39c5c64794c7b5eccd9da97
                    block_time: 1629034536
                    pool_id_bech32: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
                    pool_id_hex: 552d7f65e42fdc4ed602a657b85bd7623a592d21e5dcf7b045132da8
                    active_epoch_no: 286
                    vrf_key_hash: 076102096f5fc37a47ff14390f7320c76ea769183d06881d53dc4ea1be51acae
                    margin: 0
                    fixed_cost: 340000000
                    pledge: 10000000000
                    reward_addr: stake1uxtdm5q9j89mmme0l6jt9rsap8cn3vjy3eflptx34s2645ge7r9gp
                    owners:
                    - stake1uxtdm5q9j89mmme0l6jt9rsap8cn3vjy3eflptx34s2645ge7r9gp
                    relays:
                    - dns: null
                      srv: null
                      ipv4: 139.180.198.13
                      ipv6: null
                      port: 6000
                    meta_url: https://git.io/J0eoF
                    meta_hash: 563af2ed89859d9eb1976706f86285f7b5c8f51a3fa354b185b8f86797416b97
                    meta_json: null
                    pool_status: registered
                    retiring_epoch: null
              schema:
                items:
                  $ref: '#/components/schemas/PoolUpdate'
                type: array
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Stake pool updates
      tags:
      - Pools
  /scripts/{script_hash}:
    get:
      deprecated: false
      description: "Returns the script corresponding to the specified script hash,\
        \ if seen on-chain"
      operationId: script_by_hash
      parameters:
      - description: Hex encoded script hash
        explode: false
        in: path
        name: script_hash
        required: true
        schema:
          example: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    type: plutusv2
                    hash: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
                    bytes: "480100002221200101"
                    json: null
              schema:
                $ref: '#/components/schemas/Script'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Script of a script hash
      tags:
      - Scripts
  /transactions:
    post:
      deprecated: false
      description: "Submit a signed and serialized transaction to the network. A transaction\
        \ submited with this endpoint will be [monitored by Maestro](https://docs.gomaestro.org/docs/Getting-started/Monitor-a-transaction)."
      operationId: maestro_tx_submit
      requestBody:
        content:
          application/cbor:
            schema:
              type: string
        description: CBOR encoded transaction
        required: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                type: string
          description: ""
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: Bad Request
        "415":
          content:
            text/plain:
              schema:
                type: string
          description: Unsupported Media Type
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: Server Error
      summary: Submit transaction
      tags:
      - Transactions
  /submit/tx:
    post:
      deprecated: false
      description: "Submit a signed and serialized transaction to the network. Interaction\
        \ with this endpoint is identical to IOG's [Cardano Submit API](https://input-output-hk.github.io/cardano-rest/submit-api/)\
        \ and will not be monitored by Maestro. See `POST /transactions` for transaction\
        \ monitoring."
      operationId: iog_tx_submit
      requestBody:
        content:
          application/cbor:
            schema:
              type: string
        description: CBOR encoded transaction
        required: true
      responses:
        "202":
          content:
            text/plain:
              schema:
                type: string
          description: ""
        "400":
          content:
            text/plain:
              schema:
                type: string
          description: Bad Request
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: Server Error
      summary: Submit transaction
      tags:
      - Transactions
  /transactions/{tx_hash}/cbor:
    get:
      deprecated: false
      description: Returns hex-encoded CBOR bytes of a transaction
      operationId: tx_cbor_by_tx_hash
      parameters:
      - description: Hex encoded transaction hash
        explode: false
        in: path
        name: tx_hash
        required: true
        schema:
          example: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    cbor: 84a4008382582038dc2ac77bac948bdc623be...
              schema:
                $ref: '#/components/schemas/TxCbor'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: CBOR bytes of a transaction
      tags:
      - Transactions
  /transactions/{tx_hash}/outputs/{index}/address:
    get:
      deprecated: false
      description: Returns the address specified in the given transaction output
      operationId: address_by_txo
      parameters:
      - description: Hex encoded transaction hash
        explode: false
        in: path
        name: tx_hash
        required: true
        schema:
          example: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
          type: string
        style: simple
      - description: Transaction output index
        explode: false
        in: path
        name: index
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    address: addr1wxgg25t3tk30jqzl2elqz94lzgmr8a9c9m5z902ds5sjh0g7uaj8z
              schema:
                $ref: '#/components/schemas/UtxoAddress'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Address of a transaction output reference
      tags:
      - Transactions
  /transactions/{tx_hash}/outputs/{index}/utxo:
    get:
      deprecated: false
      description: Returns the specified transaction output of a transaction output
        reference
      operationId: utxo_by_txo_ref
      parameters:
      - description: Hex encoded transaction hash
        explode: false
        in: path
        name: tx_hash
        required: true
        schema:
          example: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
          type: string
        style: simple
      - description: Transaction output index
        explode: false
        in: path
        name: index
        required: true
        schema:
          minimum: 0
          type: integer
        style: simple
      - allowEmptyValue: true
        description: Try find and include the corresponding datums for datum hashes
        explode: true
        in: query
        name: resolve_datums
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - allowEmptyValue: true
        description: Include the CBOR encodings of the transaction outputs in the
          response
        explode: true
        in: query
        name: with_cbor
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    tx_hash: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
                    index: 0
                    assets:
                    - unit: lovelace
                      quantity: 7280082022
                    - unit: 34250edd1e9836f5378702fbf9416b709bc140e04f668cc355208518#4154414441636f696e
                      quantity: 10824
                    address: addr_test1vpfwv0ezc5g8a4mkku8hhy3y3vp92t7s3ul8g778g5yegsgalc6gc
                    datum:
                      type: inline
                      hash: 432cb73420839fb517533c365d7ec125c457ea4ba5c0349be81be6796d52ef3b
                      bytes: 1a00278530
                      json:
                        int: 2590000
                    reference_script:
                      type: plutusv2
                      hash: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
                      bytes: "480100002221200101"
                      json: null
              schema:
                $ref: '#/components/schemas/Utxo'
          description: ""
        "404":
          description: No results found
        "500":
          description: Internal server error
      summary: Transaction output of an output reference
      tags:
      - Transactions
components:
  parameters:
    stake_address:
      description: Bech32 encoded stake address
      explode: false
      in: path
      name: stake_address
      required: true
      schema:
        example: stake1u9w504hwl7sv6ewe72kxx45pzs37zq4qr4tvfqj3n2rqzvseuxpcf
        type: string
      style: simple
    address:
      description: Bech32 encoded address
      explode: false
      in: path
      name: address
      required: true
      schema:
        example: addr1qyl9ez2532trgydh5cny3ww72ygw8vugkvu98ln5x2zfgsxyf0yy00uzuxy7aldn75u7r8p99f4s0m93vgr4j7zz7pyqdg24wq
        type: string
      style: simple
    policy_id:
      description: Hex encoded native asset policy ID
      explode: false
      in: path
      name: policy_id
      required: true
      schema:
        example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c6
        type: string
      style: simple
    asset:
      description: Native asset (concatenation of hex encoded policy ID and hex encoded
        asset name)
      explode: false
      in: path
      name: asset
      required: true
      schema:
        example: 29d222ce763455e3d7a09a665ce554f00ac89d2e99a1a83d267170c64d494e
        type: string
      style: simple
    datum_hash:
      description: Hex encoded datum hash
      explode: false
      in: path
      name: datum_hash
      required: true
      schema:
        example: 432cb73420839fb517533c365d7ec125c457ea4ba5c0349be81be6796d52ef3b
        type: string
      style: simple
    epoch_no:
      description: Epoch height (number)
      explode: false
      in: path
      name: epoch_no
      required: true
      schema:
        minimum: 0
        type: integer
      style: simple
    pool_id:
      description: Bech32 encoded pool ID
      explode: false
      in: path
      name: pool_id
      required: true
      schema:
        example: pool125kh7e0y9lwya4sz5etmsk7hvga9jtfpuhw00vz9zvk6sh8xh5r
        type: string
      style: simple
    script_hash:
      description: Hex encoded script hash
      explode: false
      in: path
      name: script_hash
      required: true
      schema:
        example: 3a888d65f16790950a72daee1f63aa05add6d268434107cfa5b67712
        type: string
      style: simple
    tx_hash:
      description: Hex encoded transaction hash
      explode: false
      in: path
      name: tx_hash
      required: true
      schema:
        example: 9907c1bcab96889368d975ec1964e2fedfef22ce4a0e367bf9cb621b9f0dcb4a
        type: string
      style: simple
    index:
      description: Transaction output index
      explode: false
      in: path
      name: index
      required: true
      schema:
        minimum: 0
        type: integer
      style: simple
    count:
      allowEmptyValue: true
      description: The max number of results per pagination page
      explode: true
      in: query
      name: count
      required: false
      schema:
        default: 100
        maximum: 100
        minimum: 1
        type: integer
      style: form
    page:
      allowEmptyValue: true
      description: Pagination page number to show results for
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
      style: form
    resolve_datums:
      allowEmptyValue: true
      description: Try find and include the corresponding datums for datum hashes
      explode: true
      in: query
      name: resolve_datums
      required: false
      schema:
        default: false
        type: boolean
      style: form
    with_cbor:
      allowEmptyValue: true
      description: Include the CBOR encodings of the transaction outputs in the response
      explode: true
      in: query
      name: with_cbor
      required: false
      schema:
        default: false
        type: boolean
      style: form
  responses: {}
  schemas:
    AccountAction:
      description: Type of staking-related action
      enum:
      - registration
      - deregistration
      - delegation
      - withdrawal
      type: string
    AccountHistory:
      description: Per-epoch information about a stake account
      example:
        active_stake: 0
        epoch_no: 6
        pool_id: pool_id
      properties:
        active_stake:
          description: Active stake of the account in the epoch
          format: int64
          type: integer
        epoch_no:
          description: Epoch number
          format: int32
          type: integer
        pool_id:
          description: Bech32 encoded pool ID the account was delegated to
          type: string
      required:
      - active_stake
      - epoch_no
      type: object
    AccountInfo:
      description: Summary of information regarding a stake account
      example:
        delegated_pool: delegated_pool
        total_balance: 6
        utxo_balance: 5
        stake_address: stake_address
        total_withdrawn: 5
        total_rewarded: 1
        registered: true
        rewards_available: 0
      properties:
        delegated_pool:
          description: Bech32 pool ID that the stake key is delegated to
          type: string
        registered:
          description: True if the stake key is registered
          type: boolean
        rewards_available:
          description: The amount of rewards that are available to be withdrawn
          format: int64
          type: integer
        stake_address:
          description: Bech32 encoded stake address
          type: string
        total_balance:
          description: Total balance controlled by the stake key (sum of UTxO and
            rewards)
          format: int64
          type: integer
        total_rewarded:
          description: Total rewards earned
          format: int64
          type: integer
        total_withdrawn:
          description: Total rewards withdrawn
          format: int64
          type: integer
        utxo_balance:
          description: Amount locked in UTxOs controlled by addresses with the stake
            key
          format: int64
          type: integer
      required:
      - registered
      - rewards_available
      - stake_address
      - total_balance
      - total_rewarded
      - total_withdrawn
      - utxo_balance
      type: object
    AccountReward:
      description: Stake account related reward
      example:
        earned_epoch: 6
        amount: 0
        spendable_epoch: 1
        pool_id: pool_id
        type: null
      properties:
        amount:
          description: Reward amount
          format: int64
          type: integer
        earned_epoch:
          description: Epoch in which the reward was earned
          format: int32
          type: integer
        pool_id:
          description: Bech32 encoded pool ID (if relevant to reward type)
          type: string
        spendable_epoch:
          description: Epoch at which the reward is spendable
          format: int32
          type: integer
        type:
          $ref: '#/components/schemas/AccountStakingRewardType'
      required:
      - amount
      - earned_epoch
      - pool_id
      - spendable_epoch
      - type
      type: object
    AccountRewardType:
      description: Type of stake account reward
      enum:
      - member
      - leader
      - treasury
      - reserves
      - refund
      type: string
    AccountStakingRewardType:
      description: Staking-related reward type
      enum:
      - member
      - leader
      - refund
      type: string
    AccountUpdate:
      description: Stake account related update
      example:
        abs_slot: 0
        action: null
        epoch_no: 6
        tx_hash: tx_hash
      properties:
        abs_slot:
          description: Absolute slot of the block which contained the transaction
          format: int32
          type: integer
        action:
          $ref: '#/components/schemas/AccountAction'
        epoch_no:
          description: Epoch number in which the transaction occured
          format: int32
          type: integer
        tx_hash:
          description: Transaction hash of the transaction which performed the action
          type: string
      required:
      - abs_slot
      - action
      - epoch_no
      - tx_hash
      type: object
    AddressInfo:
      example:
        staking_cred:
          pointer:
            cert_index: 0
            slot: 6
            tx_index: 1
          reward_address: reward_address
          kind: null
          hex: hex
          bech32: bech32
        hex: hex
        payment_cred:
          kind: null
          hex: hex
          bech32: bech32
        bech32: bech32
        network: null
      properties:
        bech32:
          type: string
        hex:
          type: string
        network:
          $ref: '#/components/schemas/NetworkId'
        payment_cred:
          $ref: '#/components/schemas/PaymentCredential'
        staking_cred:
          $ref: '#/components/schemas/StakingCredential'
      required:
      - hex
      type: object
    AddressTxCount:
      example:
        count: 0
      properties:
        count:
          description: Number of transactions
          format: int64
          type: integer
      required:
      - count
      type: object
    Asset:
      description: Lovelace or native asset
      example:
        unit: unit
        quantity: 0
      properties:
        quantity:
          description: Amount of the asset
          format: int64
          type: integer
        unit:
          description: Asset (in either the form `hex(policy_id)#hex(asset_name)`
            or `lovelace`)
          type: string
      required:
      - quantity
      - unit
      type: object
    AssetHolder:
      description: Holder of a specific asset
      properties:
        address:
          description: Address of the holder
          type: string
        amount:
          description: Amount of the asset owned by the holder
          format: int64
          type: integer
      required:
      - address
      - amount
      type: object
    AssetInPolicy:
      description: Asset of a specific policy
      example:
        quantity: 0
        name: name
      properties:
        name:
          description: Hex encoded asset name
          type: string
        quantity:
          description: Amount of the asset
          format: int64
          type: integer
      required:
      - name
      - quantity
      type: object
    AssetInfo:
[...]
